<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container-fluid">



    <mat-form-field class=" mt-4 col-5">
        <mat-label>
            name
        </mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error *ngIf="f.name.touched && f.name.invalid">
            the Name is required
        </mat-error>
    </mat-form-field>
    <div>

    </div>
    <mat-form-field class="mt-4 col-5">
        <mat-label>description</mat-label>


        <input matInput type="text" formControlName="description" />
        <mat-error *ngIf="f.description.touched && f.description.invalid">
            the description is required
        </mat-error>
    </mat-form-field>
    <div>
        <label></label>
    </div>





    <div class="form-group m-1">

        <div mat-dialog-action [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close> close</button>
            <button mat-raised-button color="primary" style="margin-left: 8px;"> {{actionBtn}}</button>
        </div>
    </div>
</form>