<form [formGroup]="frm" class="container-fluid" (ngSubmit)="onSubimt()">

    <mat-form-field class="mt-4 col-5">
        <mat-label>
            Name
        </mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error *ngIf="frm.get('name').touched && frm.get('name').invalid">
            the Name is required
        </mat-error>

    </mat-form-field>


    <div></div>


    <mat-form-field class="mt-4 col-5">

        <mat-label>
            Category
        </mat-label>
        <mat-select [(value)]="selected" formControlName="categoryId" required>
            <mat-option *ngFor="let category of cats" [value]="category.id">{{category.name}}</mat-option>

        </mat-select>
        <mat-error *ngIf="frm.get('categoryId').touched && frm.get('categoryId').invalid"> the category is required
        </mat-error>

    </mat-form-field>

    <div></div>



    <mat-form-field class="mt-4 col-5">
        <mat-label for="">
            price
        </mat-label>
        <input matInput formControlName="price" placeholder="enter price of Product" type="number">

        <ng-container *ngIf="frm.get('price').touched && frm.get('price').invalid || frm.get('price').errors">

            <mat-error *ngIf="frm.get('price').errors.min">
                the number you enterd is less than 0
            </mat-error>
            <mat-error *ngIf="frm.get('price').touched && frm.get('price').invalid">
                the field is required
            </mat-error>



        </ng-container>
    </mat-form-field>

    <div>

    </div>


    <div class="mt-4 col-5">
        <button mat-raised-button color="primary" [disabled]="loading || clicked || frm.invalid" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a mat-stroked-button color="primary" routerLink="/products">Cancel</a>
    </div>

</form>