<div class="container-fluid">

    <button mat-raised-button color="primary" class="mt-4" routerLink="/categories/add">
        Add Category
    </button>

    <table class="table mt-4">


        <thead class="thead-dark">
            <tr>


                <th scope="col"></th>

                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>

                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of cat">
                <th scope="row"></th>
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>


                <td>
                    <div class="btn-group mr-2" role="group" aria-label="First group">

                        <button mat-icon-button routerLink="/categories/edit/{{category.id}}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteCategory(category)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>

            </tr>


        </tbody>
    </table>



</div>