<mat-card (click)="cardClick()" [routerLink]="detailsRote">
    <mat-card-title>{{artist.name}}</mat-card-title>
    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>music_note</mat-icon>
            {{artist.songsCount}}
        </button>

        <button mat-icon-button>
            <mat-icon>library_music</mat-icon>
            {{artist.albumsCount}}
        </button>

        <button (click)="onFavirteClick($event)" mat-icon-button color="{{likeColor}}"> 
            <mat-icon>favorite</mat-icon>
            {{artist.likesCount}}
        </button>
    </mat-card-actions>
</mat-card>