<div class="container-fluid">

    <button mat-raised-button color="primary" class="mt-4" routerLink="/products/add">
        Add Product
    </button>

    <table class="table mt-4">


        <thead class="thead-dark">
            <tr>


                <th scope="col"></th>

                <th scope="col">Id</th>
                <th scope="col">Name</th>

                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of pro">
                <th scope="row"></th>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>

                <td>{{product.category.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <div class="mr-2" role="group" aria-label="First group">

                        <button mat-icon-button routerLink="/products/edit/{{product.id}}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteProduct(product)">
                            <mat-icon>delete</mat-icon>
                        </button>


                    </div>
                </td>

            </tr>


        </tbody>
    </table>



</div>